@charset "utf-8";

html, body {
	height: 100%;
	line-height: 1;
	margin: 0px;
	background-color: white;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(49, 60, 72, 0.05);
}

.header_content {
    display: flex;
    width: 90%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.header_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.head_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
    line-height: 5px;
}

.widgets {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.widgets img {
    width: 10%;
}

.sm {
    display: flex;
    width: 70%;
    max-width: 260px;
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.smi {
    width: 45%;
}

.smm {
    width: 40%;
}

.sm a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.head_3 button {
    background: #fff;
    color: #141414;
    border: 1px solid #36ba5f;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    height: 45px;
    cursor: pointer;
    width: 100%;
}

.h_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h_img div {
    font-weight: 400;
    font-family: 'Kurale', serif;
    font-size: 20px;
}

.h_img img {
    margin-right: 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 70%;
    max-width: 1200px;
    height: 40px;
}

.menu button {
    background: #fff;
    color: #141414;
    border: none;
    /*box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 4px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.menu li:hover {
    text-decoration: underline;
}

a:active, a:hover,  a {
    text-decoration: none;
    color: #000000;
}

.header_contacts {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
}

hr {
    width: 100%;
    margin-top: 0;
}

@media (max-width: 768px) {
    .header {
        display: none;
    }
}

@media (min-width: 769px) {
    .header_mobile {
        display: none;
    }
}

/*===============================================*/

.main {
	flex: 1 1 auto;
}

li {
    list-style: none;
}

.n1_alt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    background-image: url("../img/thai.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.n1_content {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
}

.n1_t {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 55px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
}

.n1_t h2 {
    font-size: 65px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 0;
    margin-top: 10px;
}

.n1_t h3 {
    font-size: 24px;
    color: white;
    font-style: normal;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
}

@media (max-width: 768px) {
    .n1 {
        padding: 80px 0;
    }

    .n1_alt {
        padding: 10px 0;
    }

    .n1_content {
        max-width: 90%;
    }

    .n1_t h2 {
        font-size: 45px;
    }

    .n1_t h3 {
        font-size: 20px;
    }
}

.n1b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.n1b_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.n1b_h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.n1b_h2 h2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
}

.n1b_pics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pics_row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.pics_row1 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pics_row1 img {
    width: 70%;
}

@media (min-width: 769px) {
    .n1b {
        margin-bottom: 20px;
    }
    
    .pics_row1 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/*---*/

.n2 {
    width: 100%;
}

.n2_content {
    width: 100%;
}

.hot {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hot h2 {
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 1200px) {
    .n2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }

    .n2_content {
        width: 65%
    }
    
    #TVHotTours9964964 {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .n2 {
        padding-top: 20px;
    }
}

.n3 {
    background-color: #EFF5FC;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.n3_content {
    width: 90%;
    z-index: 1;
}

.i {
    width: 73px;
}

@media (max-width: 1200px) {
    .n3_content {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .n3_content {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .n3_content {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .n3_content {
        max-width: 540px;
    }
}

.n3_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

.n3_title h2 {
    font-size: 45px;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin-top: 0;
}

.social {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 768px) {
    .n3 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .n3_title h2 {
        font-size: 30px;
    }
}

.n4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.n4_content {
    width: 90%;
}

.f_h2 {
    margin-bottom: -37px;
}

.n4_t h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff0d3;
    padding: 8px 16px;
    width: fit-content;
    border-radius: 8px;
}

.n4_t p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
    line-height: 150%;
    margin: 24px 0 32px;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
}

.name_form, .tel, .desc {
    border-radius: 7px;
    margin-top: 15px;
    padding: 12px 20px; 
    border-style: solid;
    border-color: #EFF5FC;
    font-style: normal;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

.desc {
    height: 120px;
}

.phone_label, .description_label {
    margin-top: 15px;
}

.n4_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.n4_button {
    background: #36ba5f;
    color: #FFFFFF;
    border: 1px solid #36ba5f;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    height: 56px;
    width: 100%;
    cursor: pointer;
}

@media (max-width: 992px) {
    .n4_content img {
        display: none;
    }
}

@media (min-width: 992px) {
    .n4_f {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .n4_content {
        max-width: 1440px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .n4_c {
        width: 50%;
    }

    .n4_content img {
        width: 50%;
    }

    .form {
        width: 100%;
    }

    .name_form, .tel, .desc {
        width: 90%;
    }
    
    .n4_button {
        max-width: 250px;
    }
}

/*---*/

.n5_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.n5_h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.n5_h2 h2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pros {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
    width: 90%;
    max-width: 1200px;
}

.pros p {
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.n5_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
    margin: 10px 0;
}

.n5_text p {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 25px;
}

.agent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.agent img {
    width: 90%;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .n5_photo {
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    .n5_h2 {
        justify-content: center;
    }
}

/*=====*/

.footer {
    background-color: #232323;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a {
    color: white;
}

.f_items {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 90%;
    
}

.f_menu {
    margin-right: 50px;
    line-height: 26px;
    font-size: 16px;
}

.social_f {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.rights {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .rights {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
    }
}